$TTL 1D
@       IN SOA  root.{{ base_domain }}. {{ nodes.bastion.hostname }}.{{ base_domain }}. (
                                        0       ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum
@       IN      NS      {{ nodes.bastion.hostname }}.{{ base_domain }}.
@       IN      A       {{ nodes.bastion.ip }}


{{ nodes.bastion.hostname }}.{{ base_domain }}.            IN      A       {{ nodes.bastion.ip }}
{{ nodes.bastion.hostname }}.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.bastion.ip }}

api.{{ cluster_name }}.{{ base_domain }}.            IN      A       {{ nodes.bastion.ip }}
api-int.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.bastion.ip }}
*.apps.{{ cluster_name }}.{{ base_domain }}.         IN      A       {{ nodes.bastion.ip }}

{{ nodes.bootstrap.hostname }}.{{ cluster_name }}.{{ base_domain }}.      IN      A       {{ nodes.bootstrap.ip }}
{{ nodes.masters[0].hostname }}.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.masters[0].ip }}
{{ nodes.masters[1].hostname }}.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.masters[1].ip }}
{{ nodes.masters[2].hostname }}.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.masters[2].ip }}
{{ nodes.workers[0].hostname }}.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.workers[0].ip }}
{{ nodes.workers[1].hostname }}.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.workers[1].ip }}
{{ nodes.workers[2].hostname }}.{{ cluster_name }}.{{ base_domain }}.        IN      A       {{ nodes.workers[2].ip }}
